@{
	ViewData["Title"] = "Index";
}
<div class="body-sale">
	<div class="row">
		@* <div class="col-md-6 colsm-6">
		<img src="Images_nhut\Group 66.png" alt="Alternate Text" class="w-100" />
		</div>
		<img src="Images_nhut\Group 68.png" alt="Alternate Text" class="col-md-6 col-sm-6" /> *@
		<img src="~/Images_nhut/Group 69.png" alt="Alternate Text" />
	</div>
	<div class="container-fluid d-flex justify-content-center">
		<div class="row align-middle">
			<div class="col-md-3 col-sm-3">
				<div class="card text-center thesale mb-3">
					<div class="card-body spGiamGia">
						<img src="~/Images_nhut/Rectangle 115.png" alt="Alternate Text" class="w-100 pt-3" />
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="card text-center thesale mb-3">
					<div class="card-body spGiamGia">
						<img src="~/Images_nhut/Rectangle 115.png" alt="Alternate Text" class="w-100 pt-3" />
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="card text-center thesale mb-3">
					<div class="card-body spGiamGia">
						<img src="~/Images_nhut/Rectangle 115.png" alt="Alternate Text" class="w-100 pt-3" />
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="card text-center thesale mb-3">
					<div class="card-body spGiamGia">
						<img src="~/Images_nhut/Rectangle 115.png" alt="Alternate Text" class="w-100 pt-3" />
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="container-fluid d-flex justify-content-center mb-3">
		<div class="card col-md-10 col-sm-10">
			<div class="card-header" style="background-color:#9BB4A1">
				<div class="row">
					<div class="col-md-6">
						<n class="fw-bold text-danger">FLASH SALE</n>
						<n class="text-black text-center p-1" style="border-radius: 5px; border: none; background-color: white; width:20px;">02</n>:
						<n class="text-black text-center p-1" style="border-radius: 5px; border: none; background-color: white; width:20px;">02</n>:
						<n class="text-black text-center p-1" style="border-radius: 5px; border: none; background-color: white; width:20px;">02</n>
					</div>
					<div class="col-md-6">
						<a href="#" class="text-black float-end">Xem thêm</a>
					</div>
				</div>
				
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-2 col-sm-2 m-auto text-center mb-3">
						<img src="~/Images_nhut/Rectangle 115.png" alt="Alternate Text" class="w-75" />
						<div>ĐẮC NHÂN TÂM</div>
						<del>145.000</del>
						<div class="text-danger">80.000VNĐ</div>
						<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 100%">100%</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 m-auto text-center mb-3">
						<img src="~/Images_nhut/Rectangle 115.png" alt="Alternate Text" class="w-75" />
						<div>ĐẮC NHÂN TÂM</div>
						<del>145.000</del>
						<div class="text-danger">80.000VNĐ</div>
						<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 100%">100%</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 m-auto text-center mb-3">
						<img src="~/Images_nhut/Rectangle 115.png" alt="Alternate Text" class="w-75" />
						<div>ĐẮC NHÂN TÂM</div>
						<del>145.000</del>
						<div class="text-danger">80.000VNĐ</div>
						<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 100%">100%</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 m-auto text-center mb-3">
						<img src="~/Images_nhut/Rectangle 115.png" alt="Alternate Text" class="w-75" />
						<div>ĐẮC NHÂN TÂM</div>
						<del>145.000</del>
						<div class="text-danger">80.000VNĐ</div>
						<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 100%">100%</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 m-auto text-center mb-3">
						<img src="~/Images_nhut/Rectangle 115.png" alt="Alternate Text" class="w-75" />
						<div>ĐẮC NHÂN TÂM</div>
						<del>145.000</del>
						<div class="text-danger">80.000VNĐ</div>
						<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 100%">100%</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<img src="~/Images_nhut/Frame 24.png" alt="Alternate Text" class="w-100" />

	<!-- Button trigger modal -->
</div>

