@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<label>
    Tên tài khoản
</label>
<input type="text" placeholder="Nhập tên tài khoản"/>
<label>
    Mật khẩu
</label>
<input type="text" placeholder="Nhập mật khẩu" />

